<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/error.css" th:href="@{/css/error.css}" rel="stylesheet"></link>
</head>
<body>

	<div>
		<div class="opaque-background">
			<div class="header_logo">
				<img th:src="@{/img/header_logo.png}">
			</div>
			<div class="text-area">
				<div class="number-area">
					<img class="num-image" th:src="@{/img/5rego.png}"> <img
						class="num-image" th:src="@{/img/0rego.png}"> <img
						class="num-image" th:src="@{/img/0rego.png}">
				</div>
				<h1>Maintenance</h1>
				<pre class="text">
		以下のいずれかの理由でシステムの操作を中断しました。

		・不正な操作が行われた
		・長い時間操作を行わなかった
		・現在システムメンテナンス中
	
		しばらく経ってからもう一度操作してください。
		</pre>
			<a th:href="@{/tologin}" class="navbar-link">ログイン画面</a>
			</div>
			<div class="robo-area">
				<img class="robot" th:src="@{/img/mennte.jpg}">
			</div>
		</div>
	</div>

</body>
</html>